<html lang="fr">
  <head>
      <meta charset="utf-8">
      <title>Notre site de ecommerce</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" media="all" />
  </head>
	<body>
		<div class="row">
			<div class="col-sm-offset-2" >
			  	<div class="col-sm-5"> 
			  		<img src="../public/images/promo1.jpg" class="img-thumbnail" alt="promotion 1" width="65%" height="65%">
			 	</div>
		  		<div class="col-sm-5">
		  			<img src="../public/images/promo2.jpg" class="img-thumbnail" alt="promotion 2" width="50%" height="50%">
		  		</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			<h1 class="promo">Grande <B>PROMOTION</B> sur tout ces articles</h1>
		</div>
		<div class="row">
			<div class="col-sm-offset-2" >
		  <div class="col-sm-5">
		  	<img src="../public/images/promo3.jpg" class="img-thumbnail" alt="promotion 3" width="65%" height="65%">
		  </div>
		  <div class="col-sm-5">
		  	<img src="../public/images/promo4.jpg" class="img-thumbnail" alt="promotion 4" width="55%" height="55%">
		  </div>
		</div>
	</body>
</html>