		<div class="row">
			<div class="col-sm-offset-2" >
			  	<div class="col-sm-5"> 
			  		<img src="images/promo1.jpg" class="img-thumbnail" alt="promotion 1" width="65%" height="65%">
			 	</div>
		  		<div class="col-sm-5">
		  			<img src="images/promo2.jpg" class="img-thumbnail" alt="promotion 2" width="50%" height="50%">
		  		</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			<h1 class="promo">Grande <B>PROMOTION</B> sur tout ces articles</h1>
		</div>
		<div class="row">
			<div class="col-sm-offset-2" >
		  <div class="col-sm-5">
		  	<img src="images/promo3.jpg" class="img-thumbnail" alt="promotion 3" width="65%" height="65%">
		  </div>
		  <div class="col-sm-5">
		  	<img src="images/promo4.jpg" class="img-thumbnail" alt="promotion 4" width="55%" height="55%">
		  </div>
		</div>
