<html lang="fr">
  <head>
      <meta charset="utf-8">
      <title>Notre site de ecommerce</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" media="all" />
  </head>
	<body>
		<div class="row">
			<div class="col-sm-offset-1" >
			  	<div class="col-sm-5"> 
			  		<img src="../public/images/promo1.jpg" class="img-rounded" alt="promotion 1" width="400" height="260">
			 	</div>
		  		<div class="col-sm-5">
		  			<img src="../public/images/promo2.jpg" class="img-rounded" alt="promotion 2" width="400" height="260">
		  		</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			</br>
		</div>
		<div class="row">
			<div class="col-sm-offset-1" >
		  <div class="col-sm-5">
		  	<img src="../public/images/promo3.jpg" class="img-rounded" alt="promotion 3" width="400" height="260">
		  </div>
		  <div class="col-sm-5">
		  	<img src="../public/images/promo4.jpg" class="img-rounded" alt="promotion 4" width="400" height="260">
		  </div>
		</div>
	</body>
</html>