<body>
	<div class="col-xs-4">
		<input type="image" src="images/<%= produit_select.refproduit%>.jpg" style="margin:25px; height:280px;"/> 
	</div>
	<div class="col-xs-8">
		<h2><%= produit_select.article%></h2>
		<div class="col-md-6">
			<p><%= produit_select.descriptif%></p>
		</div>
	</div>
	<th>
		<div class="btn-group">
			<input type="button" value="Ajouter au panier" style="color:green; font-weight:bold; padding:10px 10px;" />
		</div>
	</th>

	<div class="col-md-4">
		<div temprop="price" style="color:red; font-weight:bold; font-size:45px ;"content="2,99">2,99<sup>€ ht</sup> </div>
		<div style="color:black; font-weight:bold; font-size:20px;">Piéce</div>
		<div temprop="price" style="color:black; font-weight:bold; font-size:25px ;"content="3,15">(3,15<sup>€ ttc</sup>)
		</div>
	</div>
</body>