<!DOCTYPE html PUBLIC>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Notre site de ecommerce</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" media="all" />
</head>
<body>
	<div class="col-xs-4">
		<input type="image" src="../public/images/pens.jpg" style="margin:25px; height:280px; border-radius:10px; box-shadow:0 0 15px 2px;"/> 
	</div>
	<div class="col-xs-8">
		<h2>4 crayons a papier Bic Evolution HB</h2>
		<div class="col-md-6">
			<p>4 crayons a papier Bic Evolution HB, acheter 4 crayons a papier Bic Evolution HB, pas cher 4 crayons a papier Bic Evolution HB,Fournitures de bureauEcriture CorrectionCrayons Porte mines Crayons graphite</p>
		</div>
	</div>
	<th>
		<div class="btn-group">
			<input type="button" value="Ajouter au panier" style="color:red; font-weight:bold; padding:10px 10px;" />
		</div>
	</th> 
</body>
<footer>
</footer>
</html>