<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Notre site de ecommerce</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" media="all" />
</head>
<body>
	<form class="form-horizontal">
		<label class="col-sm-2 control-label">Nom : M. Bernard Dupont</label>
	</form>
	<div class="table-responsive">
		<table id="example" class="table table-bordered" width="100%" cellspacing="0">
		        <thead>
		            <tr>
		                <th>Référence produit</th>
		                <th>Nom de l'article</th>
		                <th>Déscription</th>
		                <th>Quantité</th>
		                <th>Prix unitaire HT</th>
		                <th>Prix</th>
		                
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>1234</td>
		                <td>Gomme</td>
		                <td>Gomme à papier</td>
		                <td>1</td>
		                <td>5,00</td>
		                <td>5,00</td>
		            </tr>
		            <tr>
		                <td>5678</td>
		                <td>Stylos</td>
		                <td>Lot de stylos de différentes couleurs</td>
		                <td>2</td>
		                <td>10,00</td>
		                <td>20,00</td>
		            </tr>
		        </tbody>
		</table>
	</div>
</body>
<footer>
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</footer>
</html>