<div class="row">
	<div class="col-md-8">
		<div class="form-inline form-group">
			<label for="numero-client">Numéro Client :</label>
			<intput type="text" class="form-control" id="exampleInputName2">007</intput>
			<label class="client" for="nom">Prénom :</label>
			<intput type="text" class="form-control" id="exampleInputName2">Bernard</intput>
			<label class="client" for="nom">Nom :</label>
			<intput type="text" class="form-control" id="exampleInputName2">Dupont</intput>
		</div>				
		<div class="form-inline form-group">
			<label for="adresse-client">Adresse :</label>
			<intput type="text" class="form-control" id="exampleInputName2">55 Rue du Faubourg Saint-Honoré, 75008 Paris</intput>
			<label class="client" for="pays-client">Pays :</label>
			<intput type="text" class="form-control" id="exampleInputName2">FRANCE</intput>
		</div>
		<div class="form-inline form-group">
			<label for="telephone-client">Téléphone :</label>
			<intput type="text" class="form-control" id="exampleInputName2">00 00 00 00 00</intput>
			<label class="client" for="numero-client">Mail :</label>
			<intput type="text" class="form-control" id="exampleInputName2">b.dupont@simplonve.co</intput>
		</div>
	</form>
</div>
<div class="col-md-2 text-right form-inline">
	<label for="numero-facture">N° Facture :
		<intput type="text" class="form-control" id="exampleInputName2">0000174</intput>
	</label>
	<label for="date-facture">Date :
		<intput type="text" class="form-control" id="exampleInputName2">04/06/2015</input>
		</label>
	</div>
	<div class="col-md-2 image-caddie-panier">
		<img src="images/caddie-orange.png" alt="panier-orange">
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
			<table id="example" class="table-panier">
				<thead>
					<tr>
						<th>Référence produit</th>
						<th>Nom de l'article</th>
						<th>Description</th>
						<th>Quantité</th>
						<th>Prix TTC</th>
						<th>
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn"><img src="images/ajouter.png" alt="ajouter">
							</div>
						</th>  
					</tr>
				</thead>
					<% stockage_table_commande = [] 
						afficher_article = []
						afficher_descriptif = []
						afficher_prixproduit = []
						@commande.each do |v| 
						 	stockage_table_commande << v.refproduit
						end 
						@table_produit.each do |colonne_produit|
							(0...stockage_table_commande.length).each do |i| 
								if colonne_produit.refproduit == stockage_table_commande[i]
						 	  		afficher_article << colonne_produit.article 
						 	  		afficher_descriptif << colonne_produit.descriptif
						 	  		afficher_prixproduit << colonne_produit.prixproduit
								end
						 	end
					end %>
					<tbody>
						<% (0...afficher_article.length).each do |produit| %>
						<tr>
							<td><%= stockage_table_commande[produit] %></td>
							<td><%= afficher_article[produit] %></td>
							<td><%= afficher_descriptif[produit] %></td>
							<td name="QTE">1</td>
							<td name="PRIX"><%= afficher_prixproduit[produit] %></td>
							<td>
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn">
										<img src="images/poubelle.png" alt="poubelle">
									</button>
								</div>
							</td>
						</tr>
						<% end %>
				</tbody>
			</table>
		</div>	
	</div>
	<div class="col-md-12">
		<div class="col-md-8 bouton-validation">
			<button type="button" class="btn btn-default">
				<img src="images/bouton-valider-commande.png" alt="Valider la commande">
			</button>
		</div>
		<div class="col-md-4 form-inline text-right">
			<div class="prix_total">
				<label for="Total_HT">Total (ht) :</label>
				<intput class="form-control" type="text" id="exampleInputName2">25,00</intput>
				<label> € </label>
			</div>
			<div class="prix_tva">
				<label for="TVA">TVA 20 % :</label>
				<intput class="form-control" type="text" id="exampleInputName2">5,00</intput>
				<label> € </label>
			</div>
			<div class="prix_total">
				<label for="Total_TTC">Total (ttc) :</label>
				<intput type="text" class="form-control prix_total" id="exampleInputName2">30,00</intput>
				<label> € </label>
			</div>
		</div>
	</div>
</div>