<html lang="fr">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.css"/>
	<link rel="stylesheet" href="../../public/stylesheets/style.css"/>
	</head>
	<body>
		<div class="fiche-client">
			<form class="form-horizontal">
				<label><b>Numéro Client :</b>007</label><br>
				<label><b>Nom :</b> M. Bernard Dupont</label><br>
				<label><b>Adresse :</b> 55 Rue du Faubourg Saint-Honoré, 75008 Paris</label><br>
				<label><b>Pays :</b> FRANCE </label><br>
				<label><b>Téléphone :</b> 00 00 00 00 00 </label><br>
				<label><b>Mail :</b> b.dupont@simplonve.co </label>
			</form>
		</div>
		<div class="logo-panier">
			<img src="../public/images/caddie-orange.png">
		</div>


		<div class="navbar navbar-collapse">
			<div class="table-responsive">
				<table id="example" class="table table-bordered" width="100%" cellspacing="0">
				        <thead>
				            <tr>
				                <th>Référence produit</th>
				                <th>Nom de l'article</th>
				                <th>Déscription</th>
				                <th>Quantité</th>
				                <th>Prix unitaire HT</th>
				                <th>Prix</th>
				                <th><div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default"><img src="../public/images/ajouter.png" alt="ajouter">
								</div></th>
				                
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				                <td>1234</td>
				                <td>Gomme</td>
				                <td>Gomme à papier</td>
				                <td>1</td>
				                <td>5,00</td>
				                <td>5,00</td>
				                <td><div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default"><img src="../public/images/poubelle.png" alt="poubelle"></button>
								</div>
								</td>
				            </tr>
				            <tr>
				                <td>5678</td>
				                <td>Stylos</td>
				                <td>Lot de stylos de différentes couleurs</td>
				                <td>2</td>
				                <td>10,00</td>
				                <td>20,00</td>
				                <td><div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default"><img src="../public/images/poubelle.png" alt="poubelle"></button>
								</div>
								</td>
				            </tr>
				        </tbody>
				</table>
			</div>	
		</div>
	</body>
</html>