.navbar-form {
	margin-top: 25px;
}
.logo, .reseau-sociaux {
	display: block;
	width: 100%;
	text-align: center;
}

.logo img {
	display: inline;
}

.navbar-right {
	margin-right: 2%;
}

.promo {
	text-align: center;
}

.client {
	margin-left: 2%;
}

.produit {
	color:rgb(18,89,144);
	font-size:22px; 
}

.prix {
	color:red;
	font-weight:bold; 
	font-size:30px ;
}

.prix_total {
	display : block;
	margin-left: 2%;
	color:black;
	font-weight:bold; 
	font-size:20px ;
}

.prix_tva {
	margin-left: 2%;
	color:black;
	font-style: italic; 
	font-size:15px ;
}

h1 {
	font-size: 3.8em;
	color:rgb(18,89,144);
	text-align: center;
	border:solid;
	border-color: rgb(115,146,58);
	/*background-color: rgba(243,188,1,0.5);*/
	padding-top: 3%;
	padding-bottom: 3%;
}

h2 {
	font-size: 3em;
}

th {
	text-align: center;
}

td {
	text-align: center;
}