.row {
	margin: 1%;
}

.logo, .reseau-sociaux {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.logo img {
	display: inline;
}

.nav {
	background-color: white;
}

.navbar {
 background-color: rgba(18,89,144,5);
 margin-left: 2%;
 margin-right: 2%;
}

.navbar-form {
	margin-top: 25px;
}

.presentation-produit {
	border: solid 0.1px;
	border-color: rgba(18,89,144,0.5);
}

.promo {
	margin-top: 1%;
	text-align: center;
}

.client {
	margin-left: 2%;
}

.produit {
	color:rgb(18,89,144);
	font-size:22px; 
}

.prix {
	color:red;
	font-weight:bold; 
	font-size:30px ;
}

.prix_total {
	display : block;
	margin-left: 2%;
	color:black;
	font-weight:bold; 
	font-size:20px ;
}

.prix_tva {
	display: block;
	margin-left: 2%;
	color:black;
	font-style: italic; 
	font-size:20px ;
}

h1 {
	font-size: 3.8em;
	color:rgb(18,89,144);
	text-align: center;
	border:solid;
	border-color: rgb(115,146,58);
	padding-top: 3%;
	padding-bottom: 3%;
}

h2 {
	font-size: 3em;
}

th, td {
	text-align: center;
}

hr { 
	border: 0; 
	width: 90%;
	height: 1px; 
	background: #333; 
	background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

.image-titre {
	margin: 0% 2% 2% 2%;
}

.image-caddie-panier {
	position: top;
	text-align: center;
}

.imgproduit-accueil {
	margin: 1%;
	width: 60%;
}

.imgproduit-fiche-produit {
	margin: 5%;
	width: 80%;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: rgb(18,89,144);
}

.bouton {
	margin: 2% 10% 2% 10%;
	color: green;
	font-weight:bold; 
}

.piece {
	font-size: 1.5em;	
}

.centrage {
	text-align: center;
}

.centrage-btn {
	margin-top: 2%;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	text-align: center;
}

.centrage-quantite {
	margin-top: 2%;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	text-align: center;

}

.quantite {
	text-align: right;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #777;
	text-transform: uppercase;
	width: 20%;
	line-height: 26px;
}

.bouton-validation {
	position:relative;
	padding: 1.2em;
}

.texte-validation {
	font-style: bold;
	font-size: 2em;
}

.table-panier {
	position: relative;
	padding:1%;
	margin: 1%;
	width: 96%;
	background-color: #fff;
}

.table-panier th,
.table-panier td {
    border: 1px solid #ddd !important;
  }