<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Notre site de ecommerce</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="../../public/images/favicon.ico" />
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" media="all" />
</head>
<body>
	<header>
		<nav class="nav nav-pills nav-stacked">
			<ol class="breadcrumb">
			  <li><a href="accueil.html"><button type="button" class="btn btn-default navbar-btn">Accueil</button></a></li>
			  <li><a href="fiche_produit.html"><button type="button" class="btn btn-default navbar-btn">Fiche produit</button></a></li>
			  <li>
			  	<span class="glyphicons glyphicons-shopping-cart"></span>
			  	<a href="panier.html"><button type="button" class="btn btn-default navbar-btn"></span>Panier</button></a>
			  </li>
			</ol>
		</nav>
	</header>
</body>
<footer>
	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</footer>
</html>